<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form>
      <label>Nama: </label>
      <input :disabled="formType === 'upload'" type="text" name="name" ref="name" v-model="newMember.name"> <br>
      <label>Alamat: </label>
      <input :disabled="formType === 'upload'" type="text" name="address" ref="address" v-model="newMember.address"> <br>
      <label>No HP: </label>
      <input :disabled="formType === 'upload'" type="text" name="no_hp" ref="no_hp" v-model="newMember.no_hp"> <br><br>
      <input v-if="formType === 'upload'" type="file" name="photo" ref="photo">
      <input @click.prevent="tambahMember()" v-if="formType === 'add'" type="submit" value="SUBMIT">
      <input @click.prevent="ubahMember()" v-if="formType === 'update'" type="submit" value="UPDATE"> <br>
      <input @click.prevent="uploadPhoto()" v-if="formType === 'upload'" type="submit" value="UPLOAD"> <br>
      <input @click.prevent="clearForm()" v-if="formType === 'update' || formType === 'upload'" type="submit" value="CANCEL">
    </form>
    <br><br><br>
    <table border="1">
      <tr v-for="member in members">
        <td>
          <img width=100 :src="member.photo_profile ? 'http://demo-api-vue.sanbercloud.com/'+member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="image">
        </td>
        <td style="width: 300px;">
          <h4>Nama: {{member.name}}</h4>
          <p>Alamat: {{member.address}}</p>
          <p>No hp: {{member.no_hp}}</p>
        </td>
        <td>
          <button @click.prevent="click(member, 'update')">Edit</button> ||
          <button @click.prevent="hapusMember(member.id)">Delete</button> ||
          <button @click.prevent="click(member, 'upload')">Upload Photo</button>
        </td>
      </tr>
    </table>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        formType: 'add',
        members: [],
        errors: [],
        id: null,
        newMember: {
          name: '',
          address: '',
          no_hp: ''
        },
      },
      methods : {
        clearForm() {
          this.newMember = {}
          this.id = null,
          this.formType = 'add'
        },
        click(member, type) {
          this.formType = type
          this.id = member.id
          this.newMember = {
              name: member.name,
              address: member.address,
              no_hp: member.no_hp
          }
        },
        async tampilkanMember() {
        
          const url = "http://demo-api-vue.sanbercloud.com/api/member"
          try {
            const {data} = await axios.get(url)
            this.members = data.members
          } catch(err) {
            console.log(err)
          }
        },  
        async tambahMember() {
        const url = "http://demo-api-vue.sanbercloud.com/api/member"
          try {
            const results = await axios.post(url, this.newMember)
            console.log(results)
            this.clearForm()
            this.tampilkanMember()
            alert('Success insert new member')
          } catch(err) {
            console.log(err)
          }
        },
        async hapusMember(id) {

          const url = "http://demo-api-vue.sanbercloud.com/api/member"
          try {
            const drop = await axios.post(`${url}/${id}?_method=DELETE`)
            console.log(drop)
            this.tampilkanMember()
            alert(`Success delete member with id ${id}`)
          } catch(err) {
            console.log(err)
          }
        },
        async ubahMember() {
            
          const url = "http://demo-api-vue.sanbercloud.com/api/member"
          try {
            const update = await axios.post(`${url}/${this.id}?_method=PUT`, this.newMember)
            console.log(update)
            this.clearForm()
            this.tampilkanMember()
            alert('Success edit member')
          } catch(err) {
            console.log(err)
          }
        },
        async uploadPhoto() {

          const url = "http://demo-api-vue.sanbercloud.com/api/member"
          try {
            const photo_profile = this.$refs.photo.files[0]
            const formUpload = new formUpload()
            formUpload.set('photo_profile', photo_profile)

            const upload = await axios.post(`${url}/${this.id}/upload-photo-profile`, formUpload)
            this.clearForm()
            this.tampilkanMember()
            alert('Success upload photo')
          } catch(err) {
            console.log(err)
          }
        }
      },
      created() {
        this.tampilkanMember()
      }
  })
  </script>
</body>
</html>
