<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- <form @submit.prevent="processName()"> -->
      <input type="text" name="name" v-model.trim="name">
      <button v-if="isUpdate" v-on:click="clickUpdate()">update</button>
      <button v-else @click="tambah()">add</button>
    <!-- </form> -->
    <ul>
      <li v-for="(user, id) in users"> {{ user.name }} <button v-on:click="ubah(id)">Edit</button> || <button v-on:click="hapus(id)">Delete</button></li>
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        name: '',
        isUpdate: false,
        id: null,
        users : [
                  {'name': 'Rachmat Hidayat'}, 
                  {'name': 'Fitri Nur Hasanah'}, 
                  {'name': 'Nanda Amelia Sastra'}
                ]
      },
      methods: {       
        tambah(){
          let newUser = {'name': this.name}
          this.users.push(newUser)
          this.clear()
        },
        ubah(id){
          this.isUpdate = true
          this.id = id
          this.name = this.users[id].name
        },
        clickUpdate() {
            this.users[this.id].name = this.name
            this.clear();
        },
        hapus(id){
          let result = confirm('Yakin Menghapus Data ini?');
          if (result) {
            this.users.splice(id, 1);
          }
        },
        clear(){
          this.name = ''
          this.isUpdate = false
          this.id = null
        },

      },
  });
  </script>
</body>
</html>
